@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #faf6f2;
  color: #3d2d22;
  font-family: var(--font-body);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: 500;
}

section {
  padding: 8rem 0;
}
::selection {
  background: #8b5a2b;
  color: white;
}

img {
  user-select: none;
}